[http]
	proxy = 10.1.32.228:8080
	sslverify = false
[core]
    # pager = less -F -X
    # pager = /usr/share/git/diff-highlight/diff-highlight | less -+FX -R
    pager = /usr/share/git/diff-highlight/diff-highlight | less -FX -R
    # pager = diff-so-fancy | less --tabs=4 -RFX
# [diff]
#     algorithm = minimal
#     compactionHeuristic = true
#     renames = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	renameLimit = 999999
[mergetool]
    prompt = false
[pager]
    status = true
[push]
	default = upstream
