# Ignore everything
*

# But not these files...
!/.gitconfig
!/.gitignore
!/.vimrc
!/.tmux.conf
!/.bashrc
!/.Xresources
!/.zshrc
!/README.md

# And these directories...
!/.config/
!/.config/termite/
!/.config/termite/config
!/.vim/
!/.vim/**
!/.xmonad/
!/.xmonad/**

